.sign-button{
    background-color: #e50914;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: white;
    width:fit-content;
    border: none;
    border-radius: 5px;
    /* padding: 0px 15px 10px 15px; */
    height: 50px;
    width: 305px;
}