.feature-text{
    text-align: center;
    color: white;
    font-weight: 450;
    font-size: 25px;
}
.second-text{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 22px;
}